In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('MOCK_DATA.csv')

In [8]:
data.head(3)

   id first_name                   email  gender      ip_address       city
0   1       Mylo     mmongenot0@live.com    Male  220.60.215.152   Chengtou
1   2      Inger  iwebb1@miibeian.gov.cn  Female     10.146.54.3    Yueshan
2   3        Ivy    igozzett2@abc.net.au  Female  103.166.32.169  Koungheul

In [9]:
data.shape

(1000, 6)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   email       1000 non-null   object
 3   gender      1000 non-null   object
 4   ip_address  1000 non-null   object
 5   city        1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [11]:
data.describe()

                id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [12]:
data.to_csv('data_actualizado.csv')